;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background = #282c34
foreground = #abb2bf
alert = #e06c75
volume-min = #98c379
volume-med = #e5c07b
volume-max = #e06c75


[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/barbase]
monitor = ${env:MONITOR}
width = ${env:width}
height = 30
offset-x = ${env:offsetx}
;offset-y = ${env:y}
radius = 0.0
fixed-center = true
bottom = false
separator =

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 2
line-color = #e06c75

border-size = 0
border-color = #5c6370

padding-left = 1
padding-right = 1

module-margin-left = 0
module-margin-right = 0

font-0 = "xos4 Terminus:size=9;2"
font-1 = "xos4 Terminus:size=9;2"
font-2 = "Font Awesome 5 Free:style=Regular:pixelsize=9;2"
font-3 = "Font Awesome 5 Free:style=Solid:pixelsize=9;2"
font-4 = "Weather Icons:size=9;2"
font-5 = "FontAwesome:size=11;2"

modules-center =
modules-right = weather cpu memory netdown netup arch-updates aur-updates date pavolume

cursor-click = pointer
cursor-scroll = ns-resize

################################################################################
################################################################################
############                      MODULES                      #################
################################################################################
################################################################################

################################################################################

[module/protonmail]
type = custom/script
exec = ~/.config/polybar/bar-protonmail/bar_protonmail.py -p
interval = 10
click-left = xdg-open https://mail.protonmail.com/inbox
format-foreground = #c678dd
format-background = ${colors.background}
format-prefix = "  Mail  "

################################################################################

[module/weather]
type = custom/script
exec = ~/.config/polybar/scripts/weather
interval = 600
label-font = 5
click-left = xdg-open https://openweathermap.org/city/264371 &
format-foreground = #e5c07b
format-background = ${colors.background}

################################################################################

[module/memory]
type = internal/memory
interval = 1
label = %percentage_used%%
format = Mem: <label>
format-prefix = "    "
format-prefix-foreground = #61afef
format-foreground = #61afef
format-background = ${colors.background}

################################################################################

[module/netdown]
type = internal/network
interface = enp0s3
label-connected = "%downspeed:7%"
format-connected = <label-connected>
format-connected-prefix = "   "
format-connected-prefix-foreground = #98c379
format-connected-foreground = #98c379
format-connected-background = ${colors.background}

################################################################################

[module/netup]
type = internal/network
interface = enp0s3
label-connected = "%upspeed:7%"
format-connected = <label-connected>
format-connected-prefix = "   "
format-connected-prefix-foreground = #98c379
format-connected-foreground = #98c379
format-connected-background = ${colors.background}

################################################################################

[module/cpu]
type = internal/cpu
interval = 1
format-foreground = #e06c75
format-background = ${colors.background}
format-prefix = "    "
format-prefix-foreground = #e06c75
label-font = 1
label = Cpu:%percentage:3%%

################################################################################

[module/pavolume]
type = custom/script
tail = true
label = %output%
exec = ~/.config/polybar/scripts/pavolume --listen
click-right = exec pavucontrol
click-left = ~/.config/polybar/scripts/pavolume --togmute
scroll-up = ~/.config/polybar/scripts/pavolume --up
scroll-down = ~/.config/polybar/scripts/pavolume --down
format-foreground = #abb2bf
format-background = ${colors.background}

################################################################################

[module/arch-updates]
type = custom/script
exec = ~/.config/polybar/scripts/check-arch-updates
interval = 1000
label = arch: %output%
format-foreground = #c678dd
format-background = ${colors.background}
format-prefix = "    "
format-prefix-foreground = #c678dd
click-left = pamac-manager &

[module/aur-updates]
type = custom/script
exec = ~/.config/polybar/scripts/check-aur-updates
interval = 1000
label = [aur: %output%]
format-foreground = #c678dd
format-background = ${colors.background}
format-prefix = "  "
format-prefix-foreground = #c678dd
click-left = pamac-manager &

################################################################################

[module/vpn]
type = custom/script
exec = $HOME/.config/polybar/scripts/vpn_module.sh
click-left = $HOME/.config/polybar/scripts/vpn_module.sh --toggle-connection &
click-right = $HOME/.config/polybar/scripts/vpn_module.sh --location-menu &
click-middle = $HOME/.config/polybar/scripts/vpn_module.sh --ip-address &
interval = 5
format =  <label>
format-background = ${colors.background}
format-prefix = "    "
format-prefix-foreground = ${colors.foreground}

################################################################################

[module/date]
type = internal/date
interval = 5
date = " %d %b (%a), %Y"
date-alt = " %a %b %d, %Y"
time = %l:%M%p
time-alt = %l:%M%p
format-prefix = "   "
format-prefix-foreground = #56b6c2
format-foreground = #56b6c2
format-background = ${colors.background}
label = "%date%   %time% "

################################################################################
