;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background = #282c34
foreground = #abb2bf

black = #282c34
grey = #5c6370
red = #e06c75
green = #98c379
yellow = #e5c07b
blue = #61afef
magenta = #c678dd
cyan = #56b6c2
white = #abb2bf

alert = #e06c75
volume-min = #98c379
volume-med = #e5c07b
volume-max = #e06c75


[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/barbase]
monitor = ${env:MONITOR}
width = ${env:width}
height = 30
offset-x = ${env:offsetx}
;offset-y = ${env:y}
radius = 0.0
fixed-center = true
bottom = false
separator =

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 2
line-color = #e06c75

border-size = 0
border-color = #5c6370

padding-left = 1
padding-right = 1

module-margin-left = 0
module-margin-right = 0

font-0 = "xos4 Terminus:size=9;2"
font-1 = "xos4 Terminus:size=9;2"
font-2 = "Font Awesome 5 Free:style=Regular:pixelsize=9;2"
font-3 = "Font Awesome 5 Free:style=Solid:pixelsize=9;2"
font-4 = "Weather Icons:size=9;2"
font-5 = "FontAwesome:style=bold:size=11;2"

modules-center =
modules-right = cpu mem eth up date vol

cursor-click = pointer
cursor-scroll = ns-resize

################################################################################
################################################################################
############                      MODULES                      #################
################################################################################
################################################################################

################################################################################

[module/mem]
type = internal/memory
interval = 1
label = %percentage_used%%
format = <label>
format-prefix = "    "
format-prefix-foreground = ${colors.blue}
format-foreground = ${colors.foreground}
format-background = ${colors.background}

################################################################################

[module/eth]
type = internal/network
interface = enp0s3
interval = 3.0
label-connected =  %downspeed%
label-disconnected = %ifname% disconnected
format-connected-foreground = ${colors.foreground}
format-connected-background = ${colors.background}
format-connected-prefix = "    "
format-connected-prefix-foreground = ${colors.green}
format-connected-prefix-background = ${colors.background}
format-disconnected = <label-disconnected>
format-disconnected-underline = ${colors.alert}
label-disconnected-foreground = ${colors.foreground}

################################################################################

[module/cpu]
type = internal/cpu
interval = 1
format-foreground = ${colors.foreground}
format-background = ${colors.background}
format-prefix = "    "
format-prefix-foreground = ${colors.red}

################################################################################

[module/vol]
type = custom/script
tail = true
label = %output%
exec = ~/.config/polybar/scripts/pavolume --listen
click-right = exec pavucontrol
click-left = ~/.config/polybar/scripts/pavolume --togmute
scroll-up = ~/.config/polybar/scripts/pavolume --up
scroll-down = ~/.config/polybar/scripts/pavolume --down
format-foreground = ${colors.foreground}
format-background = ${colors.background}

################################################################################

[module/up]
type = custom/script
exec = ~/.config/polybar/scripts/check-arch-updates
interval = 1000
label = %output%
format-foreground = ${colors.foreground}
format-background = ${colors.background}
format-prefix = "    "
format-prefix-foreground = ${colors.magenta}
click-left = pamac-manager &

################################################################################

[module/time]
type = internal/date
interval = 1
format-prefix = "    "
format-prefix-foreground = ${colors.red}
date = %I:%M %p
format = <label>
format-background = ${colors.background}
format-foreground = ${colors.foreground}
label = "%date%"

################################################################################

[module/date]
type = internal/date
interval = 5
date-alt = " %d %b (%a), %Y"
date = " %a %b %d, %Y"
time = %l:%M%p
time-alt = %l:%M%p
format-prefix = "   "
format-prefix-foreground = ${colors.cyan}
format-foreground = ${colors.foreground}
format-background = ${colors.background}
label = "%date% (%time%) "

################################################################################
